<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		body {width:1000px;margin: 0 auto}
		table {margin:0 auto;}
		td {width:100px;text-align:center;}
	</style>
	<meta charset="utf-8">
</head>
<body>
<table border="1px" cellspacing="0" cellpadding="0"> 
	<tr>
		<td>id</td>
		<td>content</td>
		<td>user_id</td>
	</tr>

	<?php foreach($data as $key=>$value) { ?>
	<tr>
		<td><?php echo $value['id']; ?></td>
		<td><?php echo mb_substr($value['content'], 0, 19,'utf8'); ?></td>
		<td><?php echo $value['user_name']; ?></td>
	</tr>
	<?php } ?>
</table>
</body>
</html>